language: elixir
elixir:
  - 1.3.2
otp_release:
  - 19.0
env: MIX_ENV=test
sudo: false # faster builds
notifications:
  email: false
script:
  - mix compile --warnings-as-errors
  - mix test
  - mix dogma
